.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1590px;
    height: 100px;
    background-color: #C4C4C4;
    border-radius: 8px;
    margin: 0 auto;
    padding: 30px 45px;
    a {
        font-weight: 900;
        font-size: 48px;
        color: #000000;
        text-decoration: none;
        transition: 0.3s all;
        &:hover {
            color: #686868;
        }
    }
    button {
        cursor: pointer;
        background: transparent;
        border: none;
    }
}